nav {
    background-color: #006FBA;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }
  
  nav ul li.login-button {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    nav ul li.login-button {
      float: none;
    }
  }

body{
   background-size:cover;
   background-position: auto;
   padding: 0;
   margin: 0;
   font-family: 'Nunito', sans-serif;
  }
#login-btn{
    padding: 10px;
   float: right;
}
#login-btn a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
#login-btn a:hover{
    color: #006FBA;
    background-color: white;
}
nav ul li img{
    float: left;
    padding: 10px;
}
#main{
 text-align:center;
 color: white;
 font-size: larger;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding-top: 0px;
}

.Jobs{
  background-color:#006FBA ;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-color:#006FBA ;
  display: inline;
}

#quote{
  text-align: center;
  color: white;
}
.content{
  text-align: center;
  color: white;
  padding-top: 200px;
}
 
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 0px 0px;
}
button:hover {
  background-color: #232946;
  color: #ffffff;
  
}

.brief {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 14px;
}
