body {
    font-family: "Nunito", sans-serif;
    color: #232946;
    margin: 0%;
    background-color: #eff7f7;

}

.container {
    background-color: #eff7f7;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 60px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: start;
}

.select {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: start;
}

.input::placeholder {
    color: #9e9ea7;
}

select::placeholder {
    color: #9e9ea7;
}

option {
    color: #0d0c22;
    font-family: "Nunito", sans-serif;
}

option:hover {
    background-color: #eff7f7;
    color: #4e007a;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

#jobdiv {
    min-width: 70%;
}

.jobElement {
    background-color: #fff;
    color: #212121;
    border-radius: 8px;
    padding: 1rem 3rem;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 8px rgb(0 0 0 / 4%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.jobElement:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
    transition: all 0.3s ease 0s;

}

.block1 {
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;

}

.block1 .p {
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}

.block2 {
    text-align: start;
    font-size: 0.9rem;
    font-weight: 300;
    padding-top: 1rem;
    min-width: 150px;
    margin-left: 2rem;
}

.applybtn {
    background-color: #232946;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;
}

.applybtn:hover {
    background-color: #fff;
    color: #232946;
    border: 3px solid #232946;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;
}

.filter_search {
    background-color: #fff;
    color: #212121;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 4px 8px rgb(0 0 0 / 4%);
    margin-bottom: 1rem;

    min-width: 260px;
    min-height: 300px;
    width: 25%;
}

.section {
    text-align: start;
}

.section h3 {
    color: #4e007a;
    font-size: 17px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #eff7f7, #8bc5f1, #eff7f7);
    opacity: 0.5;
    margin-top: 30px;
}

#reset-button {
    background-color: #232946;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;
    width: 100%;
}

#reset-button:hover {
    background-color: #fff;
    color: #232946;
    border: 3px solid #232946;

}









.location-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.location-checkbox:before {
    content: "";
    background-color: #4e007a;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.location-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
}











.arrangement-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.arrangement-checkbox:before {
    content: "";
    background-color: #4e007a;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.arrangement-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
}




.cyberpunk-checkbox-label {
    font-size: 16px;
    color: #0d0c22;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}