body {
  font-family: "Poppins", sans-serif;
  color: #232946;
  margin: 0%;
  background-color: white;
  background-image: url(https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;

}

.container {
  background-color: #23294687;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  color: floralwhite;
  
}


.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.twin-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.twin-inputs-first {
  margin-right: 20px;
}

label {
  font-weight: 500;
  margin-right: 10px;
  width: 30%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
button,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #232946;
  border-radius: 5px;
  margin-top: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline: none;
  border-color: #ccc;
  box-shadow: 0 0 8px 0 #78b9ff;
}

input[type="radio"] {
  margin-right: 5px;
  margin-top: 5px;
}



.radio-square {
  background-color: #ffffff;
  padding: 10px;
  color: #232946;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: small;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

.radio-square label{
  cursor: pointer;
}

.radios {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.navbar {
  background-color: #232946;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 30px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.navbar a:hover {
  background-color: #414c63;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
}

.logolink {
  margin: 0%;
  width: 50px;
}

.icon-div {
  width: 30px;
  margin-right: 10px;
}

.title {
  background-color:#232946;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.title h1 {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}

.elform {
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#jobdiv {
  width: 35%;
  height: 100%;
  background-color: #232946;
  color: #fafafa;
  text-align: center;
  padding: 0 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#jobdiv p {
  font-size: 1rem;
  margin-top: 20px;
}

.job-card-header {
  margin-top: 100px;
  margin-bottom: 50px;
}

.job-card-body {
  margin-bottom: 50px;
}

.job-card-header h1 {
  font-weight: 500;
  margin-top: 50px;
}

.job-card-header h2 {
  font-weight: 200;
}

hr {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  opacity: 0.5;
}

#jobdiv h3 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: larger;
}

#jobdiv p {
  font-weight: 200;
  margin-bottom: 50px;
  font-size: medium;
  width: 90%;
  margin: auto;

}

#form {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}