{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Openings</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="app-container">
        <div id="jobdiv"></div>
        <div id="form">
            <div class="container">
                <div class="title">
                    <h1>Application Form</h1>
                </div>
                <div class="elform">
                    <form action="/apply" method="POST" id="application-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first-name">Name:</label>
                            <div class="twin-inputs">
                                <input class="twin-inputs-first" type="text" id="fname" name="fname"
                                    placeholder="First Name" required>
                                <input type="text" id="last-name" name="last-name" placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="work-email">Work Email:</label>
                            <input type="email" id="work-email" name="work-email" placeholder="example@gmail.com"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="address">Address:</label>
                            <textarea id="address" name="address" placeholder="123, Bridge St. NY" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone Number:</label>
                            <input type="tel" id="phone" name="phone" placeholder="+20 123 456 7890" required>
                        </div>

                        <div class="form-group">
                            <label for="dob">Date of Birth:</label>
                            <input type="date" id="dob" name="dob" required>
                        </div>

                        <div class="form-group">
                            <label>Military Status:</label>
                            <div class="radios">
                                <div class="radio-square">
                                    <label for="completed"><input id="completed" type="radio" name="military_status" />
                                        Completed</label>
                                </div>
                                <div class="radio-square">
                                    <label for="not-completed"><input id="not-completed" type="radio"
                                            name="military_status" />
                                        Not Completed</label>
                                </div>
                                <div class="radio-square">
                                    <label for="exempted"><input id="exempted" type="radio" name="military_status" />
                                        Exempted</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cv">Upload CV:</label>
                            <input type="file" id="cv" name="cv" accept=".pdf,.doc,.docx" required>
                        </div>

                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var jobOpenings = [
            {
                id: 1,
                title: "Chief Accountant",
                category: "Office & Administration",
                company: "Madkour",
                description: "We are looking for a Chief Accountant to join our team and lead our accounting department. The Chief Accountant responsibilities include managing a team of accountants, participating in audits, and monitoring various reports. You will also be required to oversee the implementation of accounting processes, supervise the accounting staff, and participate in the preparation of financial reports. To be successful as a Chief Accountant, you should have excellent leadership and decision-making skills. Ultimately, a top-notch Chief Accountant should be able to demonstrate exceptional accounting knowledge as well as possess a sound understanding of tax laws and regulations.",
            },
            {
                id: 2,
                title: "Senior PHP Developer",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a PHP Developer responsible for managing back-end services and the interchange of data between the server and the users. Your primary focus will be the development of all server-side logic, definition, and maintenance of the central database, and ensuring high performance and responsiveness to requests from the front-end. You will also be responsible for integrating the front-end elements built by your co-workers into the application. Therefore, a basic understanding of front-end technologies is necessary as well.",
            },
            {
                id: 3,
                title: "International Business Development Specialist",
                category: "Sales & Marketing",
                company: "Madkour",
                description: "We are looking for a Business Development Specialist to join our team! As a Business Development Specialist, you will be responsible for developing and implementing growth strategies for the achievement of revenue goals. You will also conduct market research and analysis to create detailed business plans on commercial opportunities (expansion, business development, etc.).",
            },
            {
                id: 4,
                title: "Senior Front End Developer (ReactJS)",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Front-End Web Developer who is motivated to combine the art of design with the art of programming. Responsibilities will include translation of the UI/UX design wireframes to actual code that will produce visual elements of the application. You will work with the UI/UX designer and bridge the gap between graphical design and technical implementation, taking an active role on both sides and defining how the application looks as well as how it works.",
            },
            {
                id: 5,
                title: "Full Stack Team Leader (ReactJS & NodeJS)",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Full Stack Team Leader to join our team! As a Full Stack Team Leader, you will be responsible for leading a team of developers to build and maintain the company’s products. You will also be responsible for designing user interactions on websites, developing servers, and databases for website functionality, and coding for mobile platforms.",
            },
            {
                id: 6,
                title: "Senior Full Stack (ReactJS & NodeJS)",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Full Stack Developer to join our team! As a Full Stack Developer, you will be responsible for developing and designing front end web architecture, ensuring the responsiveness of applications, and working alongside graphic designers for web design features, among other duties.",
            },
            {
                id: 7,
                title: "Senior Software Quality Control Engineer",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Software Quality Control Engineer to join our team! As a Software Quality Control Engineer, you will be responsible for developing and executing exploratory and automated tests to ensure product quality. You will also be responsible for designing and implementing tests, debugging, and defining corrective actions.",
            },
            {
                id: 8,
                title: "Senior Software Developer C++ - (Computer Vision)",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Software Developer to join our team! As a Software Developer, you will be responsible for developing and implementing software solutions to address complex business issues, providing technical leadership within the team, and collaborating with other developers, business analysts, and software architects to plan, design, develop, test, and maintain business applications.",
            },
            {
                id: 9,
                title: "Software Team Leader - .Net Core & Angular",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Software Team Leader to join our team! As a Software Team Leader, you will be responsible for leading a team of developers to build and maintain the company’s products. You will also be responsible for designing user interactions on websites, developing servers, and databases for website functionality, and coding for mobile platforms.",
            },
            {
                id: 10,
                title: "Senior Full Stack Developer - (.Net Core & Angular)",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Full Stack Developer to join our team! As a Full Stack Developer, you will be responsible for developing and designing front end web architecture, ensuring the responsiveness of applications, and working alongside graphic designers for web design features, among other duties.",
            },
            {
                id: 11,
                title: "Senior NodeJS Developer",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Node.js Developer to join our team! As a Node.js Developer, you will be responsible for managing the interchange of data between the server and the users. Your primary focus will be the development of all server-side logic, definition, and maintenance of the central database, and ensuring high performance and responsiveness to requests from the front-end. You will also be responsible for integrating the front-end elements built by your co-workers into the application. Therefore, a basic understanding of front-end technologies is necessary as well.",
            },
            {
                id: 12,
                title: "Senior Full-Stack Java Developer (Java+ Angular)",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Full Stack Developer to join our team! As a Full Stack Developer, you will be responsible for developing and designing front end web architecture, ensuring the responsiveness of applications, and working alongside graphic designers for web design features, among other duties.",
            },
            {
                id: 13,
                title: "Senior Java Developer",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Java Developer to join our team! As a Java Developer, you will be responsible for developing and implementing software solutions to address complex business issues, providing technical leadership within the team, and collaborating with other developers, business analysts, and software architects to plan, design, develop, test, and maintain business applications.",
            },
            {
                id: 14,
                title: "Java Team Leader",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Java Team Leader to join our team! As a Java Team Leader, you will be responsible for leading a team of developers to build and maintain the company’s products. You will also be responsible for designing user interactions on websites, developing servers, and databases for website functionality, and coding for mobile platforms.",
            },
            {
                id: 15,
                title: "Senior Full Stack Developer - (.Net Core & ReactJS)",
                category: "Software Developers",
                company: "Madkour",
                description: "We are looking for a Full Stack Developer to join our team! As a Full Stack Developer, you will be responsible for developing and designing front end web architecture, ensuring the responsiveness of applications, and working alongside graphic designers for web design features, among other duties.",
            },
            {
                id: 16,
                title: "Senior Lead Generation Specialist",
                category: "Sales & Marketing",
                company: "Madkour",
                description: "We are looking for a Lead Generation Specialist to join our team! As a Lead Generation Specialist, you will be responsible for prospecting, qualifying, and generating new sales leads to support the Sales Team. You will also be responsible for developing new business via telephone and mass communication such as email and social media to introduce the company’s products and identify appropriate buyers within the target market.",
            },
        ];

        const urlParams = new URLSearchParams(window.location.search);
        const jobId = urlParams.get('id');
        showData(jobId);


        function showData(id) {
            const JobId = parseInt(id);
            var jobdiv = document.getElementById('jobdiv');
            var job = jobOpenings.find(job => job.id === JobId);

            var jobCard = `
            <div class="job-card-header">
                <h1>${job.title}</h1>
                <h2>${job.company}</h2>
                <hr />
            </div>
            <div class="job-card-body">
                <h3>Job Description</h3>
                <p>${job.description}</p>
                </div>
            <div class="job-card-footer">
                <h3>Job Category</h3>
                <p>${job.category}</p>
            </div>
            `;
            jobdiv.innerHTML += jobCard;
        }

        const radioSquares = document.querySelectorAll('.radio-square');
    
    radioSquares.forEach(square => {
        square.addEventListener('click', () => {
            const radioButton = square.querySelector('input[type="radio"]');
            radioButton.checked = true;
        });
    });
    </script>
</body>

</html>