{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Openings</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body style="background-image: url('{{ background_image }}');">
    <div class="app-container">
        <div id="jobdiv"></div>
        <div id="form">
            <div class="container">
                <div class="title">
                    <h1>Application Form</h1>
                </div>
                <div class="elform">
                    <form action="/apply" method="POST" id="application-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="jobID" id="jobID">
                        <div class="form-group">
                            <label for="first-name">Name:</label>
                            <div class="twin-inputs">
                                <input class="twin-inputs-first" type="text" id="fname" name="fname"
                                    placeholder="First Name" required>
                                <input type="text" id="lname" name="lname" placeholder="Last Name" required>
                            </div>
                        </div>

                        <!--div class="form-group">
                            <label for="work-email">Work Email:</label>
                            <input type="email" id="work-email" name="email" placeholder="example@gmail.com"
                                required>
                        </div-->
                        <div class="form-group">
                            <label for="work-email">Work Email:</label>
                            <input type="email" id="email" name="email" placeholder="example@gmail.com" required
                                oninput="validateEmail()">
                            <!--small>Please enter a valid email address with a supported domain (e.g., gmail.com, yahoo.com, hotmail.com).</small-->
                        </div>

                        <div class="form-group">
                            <label for="address">Address:</label>
                            <textarea id="address" name="address" placeholder="123, Bridge St. NY" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone Number:</label>
                            <input type="tel" id="phone" name="phone" placeholder="01234567890" required
                                pattern="[0-9]{4}[0-9]{3}[0-9]{4}">
                        </div>

                        <div class="form-group">
                            <label for="dob">Date of Birth:</label>
                            <input type="date" id="dob" name="dob" required>
                        </div>

                        <div class="form-group">
                            <label>Military Status:</label>
                            <div class="radios">
                                <div class="radio-square">
                                    <label for="completed"><input id="completed" type="radio" name="military_status" />
                                        Completed</label>
                                </div>
                                <div class="radio-square">
                                    <label for="not-completed"><input id="not-completed" type="radio"
                                            name="military_status" />
                                        Not Completed</label>
                                </div>
                                <div class="radio-square">
                                    <label for="exempted"><input id="exempted" type="radio" name="military_status" />
                                        Exempted</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cv">Upload CV:</label>
                            <input type="file" id="cv" name="cv" accept=".pdf,.doc,.docx" required>
                        </div>

                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var jobOpenings = JSON.parse('{{ job_data_json|escapejs }}');
        console.log("jobOpenings");
        console.log(jobOpenings);
        const urlParams = new URLSearchParams(window.location.search);
        const jobId = urlParams.get('id');
        var inputElement = document.getElementById("jobID");
        inputElement.value = jobId;
        showData(jobId);


        function showData(id) {
            const JobId = parseInt(id);
            var jobdiv = document.getElementById('jobdiv');
            var job = jobOpenings.find(job => job.id === JobId);

            var jobCard = `
            <div class="job-card-header">
                <img src="{% static 'logo1.png' %}" alt="job image" />
                <h1>${job.title}</h1>
                <p>${job.category}</p>
                <hr />
            </div>
            <div class="job-card-body">
                <h3>Job Description</h3>
                <p>${job.description}</p>
                <hr />
            </div>

            <div class="block2">
                <p><i class="far fa-calendar-alt" style="margin-right: 5px;"></i> ${job.date_posted}</p>
                <p><i class="fa fa-money-bills" style="margin-right: 5px;"></i> ${job.salary}</p>
                <p><i class="fa-solid fa-earth-americas" style="margin-right: 5px;"></i> ${job.location}<span style="font-weight: 800; font-size: 18px;"> · </span> ${job.work_arrangement}</p>
            </div>
            `;
            jobdiv.innerHTML += jobCard;
        }

        const radioSquares = document.querySelectorAll('.radio-square');

        radioSquares.forEach(square => {
            square.addEventListener('click', () => {
                const radioButton = square.querySelector('input[type="radio"]');
                radioButton.checked = true;
            });
        });
    </script>
    <script>
        function validateEmail() {
            var emailInput = document.getElementById("email");
            var email = emailInput.value;
            var domain = email.split("@")[1];
            var validDomains = ["gmail.com", "yahoo.com", "hotmail.com"]; // Add your desired valid domains here

            if (!validDomains.includes(domain)) {
                emailInput.setCustomValidity("Please enter a valid email address with a supported domain.");
            } else {
                emailInput.setCustomValidity(""); // Reset validation message
            }
        }

    </script>
</body>

</html>