{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Openings</title>
    <link rel="stylesheet" type="text/css" href="{% static 'jobs.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</head>

<body>
    <div class="container">
        <h1 class="title">Job Openings</h1>
        <div class="group">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path
                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                    </path>
                </g>
            </svg>
            <input placeholder="Search" type="text" class="input" id="searchbar">
        </div>
        <div class="box">
            <div class="filter_search">adasda</div>
            <div id="jobdiv"></div>
        </div>

    </div>

    <script>
        var jobOpenings = JSON.parse('{{ job_data_json|escapejs }}');


        $('#searchbar').on('keyup', function () {
            var value = $(this).val();
            console.log(value);
            var data = searchData(value, jobOpenings);
            showData(data);
        });
        showData(jobOpenings);

        function searchData(value, data) {
            var filteredData = [];
            for (var i = 0; i < data.length; i++) {
                value = value.toLowerCase();
                var name = data[i].title.toLowerCase();
                if (name.includes(value)) {
                    filteredData.push(data[i]);
                }
            }
            return filteredData;
        }

        function showData(data) {
            var jobdiv = document.getElementById('jobdiv');
            jobdiv.innerHTML = '';
            data.forEach(job => {
                var jobElement = document.createElement('div');
                jobElement.style.cursor = 'pointer';
                jobElement.className = 'jobElement';

                jobElement.innerHTML = `
                <div class="block1">
                    <h2 style="margin-bottom: 0px; ">${job.title}</h2>
                    <p style="margin-top: 2px; color: #444;">${job.category}</p>
                    <button class="applybtn">Apply Now</button>
                    </div>
                    <div class="block2">
                        <p><i class="far fa-calendar-alt" style="margin-right: 5px;"></i> ${job.date_posted}</p>
                        <p><i class="fa fa-money-bills" style="margin-right: 5px;"></i> ${job.salary}</p>
                        <p style="font-size: 0.9rem;"><i class="fa-solid fa-earth-americas" style="margin-right: 5px;"></i> ${job.location}<span style="font-weight: 800; font-size: 18px;"> · </span> ${job.work_arrangement}</p>
                </div>

        `;

                jobElement.addEventListener('click', function () {
                    window.location.href = `application?id=${job.id}`;
                });

                jobdiv.appendChild(jobElement);
            });
        }

    </script>
</body>

</html>